@model Entities.Models.Tournament

<script src="~/Scripts/App/Tournament.js"></script>

@using (Html.BeginForm("Index", "Game"))
{
    string defaultValue = "Please select:";
    @Html.LabelFor(m => m.Team1Id)
    @Html.DropDownListFor(m => m.Team1Id, Model.Teams, defaultValue)
    @Html.LabelFor(m => m.Team2Id)
    @Html.DropDownListFor(m => m.Team2Id, Model.Teams, defaultValue)

    <table id="TeamDropDowns">
        <tr>
            <td>@Html.Label("Team")</td>
            <td>@Html.Label("Points Brought To Tournament")</td>
        </tr>
        @{
            const int maxNumOfTeams = 8;
            for (int i = 0; i < maxNumOfTeams; i++)
            {
                <tr>
                    <td>@Html.DropDownList("SelectedTeams[" + i + "].Team", Model.Teams, defaultValue)</td>
                    <td>@Html.TextBox("SelectedTeams[" + i + "].Points", "", new { type = "number" })</td>
                </tr>
            }
        }
    </table>

    <input id="Submit" type="submit" value="Create game" disabled="disabled" />
}