@model Entities.Models.Game
@{
    ViewBag.Title = "Game";
}

<script src="~/Scripts/App/Game.js"></script>

<h1>@Model.Team1.Name vs @Model.Team2.Name</h1>

<h2>Current Score:</h2>
@using (Html.BeginForm("SaveGame", "Game"))
{
    <div>
        @Html.DisplayFor(m => m.Team1.Name):@Html.TextBox("Team1Goals", 0, new { @readonly = "readonly", type = "number" })
        @Html.HiddenFor(m => m.Team1.Id)
    </div>
    <div>
        @Html.DisplayFor(m => m.Team2.Name):@Html.TextBox("Team2Goals", 0, new { @readonly = "readonly", type = "number" })
        @Html.HiddenFor(m => m.Team2.Id)
    </div>


    <div id="Team1PlayerScores">
        @for (int i = 0; i < Model.Team1.Players.Count; i++)
        {
            @Html.DisplayFor(m => m.Team1.Players[i].Name)
            @Html.EditorFor(m => m.Team1.Players[i].GoalsForCurrentGame, new { htmlAttributes = new { min = 0 } })
            @Html.HiddenFor(m => m.Team1.Players[i].Id)
        }
    </div>

    <div id="Team2PlayerScores">
        @for (int i = 0; i < Model.Team2.Players.Count; i++)
        {
            @Html.DisplayFor(m => m.Team2.Players[i].Name)
            @Html.EditorFor(m => m.Team2.Players[i].GoalsForCurrentGame, new { htmlAttributes = new { min = 0 } })
            @Html.HiddenFor(m => m.Team2.Players[i].Id)
        }
    </div>

    <input type="submit" value="Save Game" />
}
<input id="ClearAllFields" type="button" value="Clear All Fields" />